.skill {
  border: 2px solid rgb(120, 120, 120);
  border-radius: 6px;
  margin: 5px;
  display: inline-block;
}

.skill span {
  margin: 0px 10px;
  display: inline-block;
}

.skill button {
  font: inherit;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
  border-left: 2px solid grey;
  color: grey;
  height: 100%;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.skill button:hover,
.skill button:active {
  color: #77002e;
  background-color: #e6dcdf;
}
