.page {
  width: 8.5in;
  height: 11in;
  margin: auto;
  padding: 0.25in;
  display: flex;
  flex-direction: row;
}

.page.editable {
  border: 1px solid grey;
}

hr.solid {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(112, 112, 112);
  margin: 1em 0;
  padding: 0;
}

.left-column {
  flex: 2;
  padding: 0.15in;
}

.right-column {
  flex: 1;
  background-color: rgb(230, 230, 230);
  padding: 0.15in;
}
