.page.printable {
  border: 1px solid blue;
}

body {
  margin: 0;
}

@page {
  margin: 0;
  padding: 0;
}

.page h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  color: rgb(59, 97, 178);
  margin: 0.2in 0 0.3in 0;
}

.page h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgb(20, 20, 20);
}

.page h3 {
  font-size: 0.7rem;
  font-weight: 500;
}

.page {
  width: 8.5in;
  height: 11in;
  margin: auto;
  padding: 0.25in;
  display: flex;
  flex-direction: row;
}

.page.editable {
  border: 1px solid grey;
}

hr.solid {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(112, 112, 112);
  margin: 1em 0;
  padding: 0;
}

.left-column {
  flex: 2;
  padding: 0.15in;
}

.right-column {
  flex: 1;
  background-color: rgb(230, 230, 230);
  padding: 0.15in;
}
